body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #000;*/ 
}

.avatar {
	cursor: pointer;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	margin: 50px;
}

.avatar:hover {
	opacity: 0.6;
}


.loading {
	width: 100%;
	height: 100%;
	background-image: url(../assets/loading.gif);
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
}

.hidden {
	display: none;
	visibility: hidden;
}

.choose-avatar {
	width: 680px;
	margin: 100px auto; 
}

.choose-title {
	font-family: helvetica;
	text-align: center;
	line-height: 30px;
	margin-bottom: 50px;
	font-size: 30px;
}